{% extends 'home.html' %}
{% load static %}
{% block css %}
body{
  background-image:url("{% static 'D:\SwachattaSavvy\venv\Scripts\savvy\static\blue_bg.jpg'%}");
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size:100%100%;
}
.complaintForm{
  margin: 35px auto; 
  width: 50%; 
  text-align: center; 
}
.heading{
  margin-top: 10px;
    -webkit-line-clamp: 2;
    font-family: os_semi_bold;
    font-weight: bold;
    color: white;
}
{% endblock %}
{% block body %}
<div class="complaintForm">
    <form style="padding: 15px;" method="post" action="{%url 'complaint'%}" enctype="multipart/form-data">
        {% csrf_token %}
      <h2 class="heading">Post a complaint</h2>
      <div class="form-group row" style="margin-top:30px">
        <label for="inputcategory" class="col-sm-2 col-form-label" style="text-align: center; color: white;">Select the category</label>
        <div class="col-sm-10">
        <select id="inputcategory" class="form-control" name="selectcategory" style="width: 80%">
          <option selected>Choose...</option>
          <option>Garbage on road</option>
          <option>Sewage Overflow</option>
          <option>Damaged roads</option>
          <option>Damaged water pipes</option>
          <option>Non-functioning of street-light</option>
          <option>Non-functioning of traffic light</option>
        </select>
      </div>
      </div>
    
      <div class="form-group row">
        <label for="inputaddress" class="col-sm-2 col-form-label" style="text-align: center; color:white;">Address</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputaddress" name="address" style="width: 80%">
        </div>
      </div>
          <div class="form-group row">
            <label for="inputcity" class="col-sm-2 col-form-label" style="text-align: center; color:white;">City</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputcity" name="city" style="width: 80%">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputState" class="col-sm-2 col-form-label" style="text-align: center; color:white;">State</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputState" name="state" style="width: 80%">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputzip" class="col-sm-2 col-form-label" style="text-align: center; color:white;">Zip</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputzip" name="zip" style="width: 80%">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputlandmark" class="col-sm-2 col-form-label" style="text-align: center; color:white;">Landmark</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="inputlandmark" name="landmark" style="width:80%;">
          </div>
        </div>
          <div class="form-group row">
            <label for="exampleFormControlFile1" class="col-sm-2 col-form-label" style="text-align: center; color:white;">Upload Photo</label>
            <div class="col-sm-10">
            <input type="file" class="form-control-file" id="exampleFormControlFile1" name="photo">
          </div>
        </div>
          <input type="submit" class="btn btn-warning" value="Submit">
    </form>
</div>
{% endblock %}